﻿@{
    ViewData["Title"] = "Registration";
}



<section class="main-content">
    <h2>Service list</h2>
    <form method="post" asp-controller="Staff" asp-action="GetDoctors">
        <input type="hidden" name="medicalDepartment" value=1 />
        <button type="submit" class="nav-link text-dark" style="border: none; background-color: transparent; cursor: pointer;">Dentistry</button>
    </form>
    <form method="post" asp-controller="Staff" asp-action="GetDoctors">
        <input type="hidden" name="medicalDepartment" value=2 />
        <button type="submit" class="nav-link text-dark" style="border: none; background-color: transparent; cursor: pointer;">Therapy</button>
    </form>
    <form method="post" asp-controller="Staff" asp-action=3>
        <input type="hidden" name="medicalDepartment" value="Surgery" />
        <button type="submit" class="nav-link text-dark" style="border: none; background-color: transparent; cursor: pointer;">Surgery</button>
    </form>
</section>

@* <form asp-controller="Home" asp-action="Registration" method="post">
<label asp-for="@login">Login: </label>
<input type="text" asp-for="@login">
<br>
<label asp-for="@password">Password: </label>
<input type="password" asp-for="@password">
<br>
<input type="submit" value="Login">
</form> *@