@model IEnumerable<Doctor>;
@{
  ViewData["Title"] = "Doctor List";
}


<h2>Doctors</h2>
<div>
  @foreach (var doctor in Model)
  {
    <div class="card mb-4">
      <div class="card-header">
        @doctor.Firstname
      </div>
      <div class="card-header">
        @doctor.Lastname
      </div>
      <div class="card-header">
        @doctor.MedicalDepartment
      </div>
    </div>
  }
</div>