.main-content {
  margin: 20px;
}

.main-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.navbar-collapse {
  display: flex;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #555;
}